<h1>Welcome.</h1>

<% if @posts.length > 0 %>
<ul class="posts">
  <% @posts.each do |post| %>
    <li class="post">
      <h2 class="title"><%= link_to post.title, post_path(post) %></h2>
      <p class="date"><%= post.published_at.strftime("%l:%M %p on %A %b %d, %Y") %></p>
      <p class="summary"><%= post.summary %></p>
    </li>
  <% end %>
</ul>
<% else %>
<p>There are no posts here yet.</p>
<% end %>
