<h1>Welcome.</h1>

<ul class="posts">
  <% @posts.each do |post| %>
    <li class="post">
      <h2 class="title"><%= link_to post.title, post_path(post) %></h2>
      <p class="summary"><%= post.summary %></p>
    </li>
  <% end %>
</ul>
