<article class="post">
  <h1 class="title"><%= @post.title %></h1>
  <div class="summary">
    <p><%= @post.summary %></p>
  </div>

  <div class="meta">
    <% if @post.is_published %>
    <span><%= @post.published_at.strftime("%l:%M %p on %A %b %d, %Y") %></span>
    <% end %>
    <div class="divider"></div>
  </div>

  <div class="body">
    <%= markdown(@post.body) %>
  </div>
</article>
